body {
    background-color: black;
}
.Buttons_upper {
    font: larger;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}
.Buttons_div {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    text-decoration-line: none;
}
p {
    color: white;
}
h1 {
    color: white;
}
h2 {
    color: white;
}